<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Joshua's Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}">


    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="spinner"
        class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <div class="container-fluid fixed-top">
        <div class="container topbar bg-primary d-none d-lg-block">
            <div class="d-flex justify-content-between">
                <div class="top-info ps-2">
                    <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a
                            href="mailto:joshualongyx@joshua-long-yx.tech"
                            class="text-white">joshualongyx@joshua-long-yx.tech</a></small>
                </div>
                <div class="top-link pe-2">
                    <a href="/" class="text-white"><small class="text-white mx-2">Home</small>/</a>
                    <a href="/portfolio" class="text-white"><small class="text-white mx-2">Portfolio</small>/</a>
                    <a href="/testimonial" class="text-white"><small class="text-white ms-2">Testimonial</small> /</a>
                    <a href="/contact" class="text-white"><small class="text-white ms-2">Contact Me</small></a>
                </div>
            </div>
        </div>
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <a href="/" class="navbar-brand">
                    <h1 class="text-primary display-6">Joshua's Website</h1>
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="/portfolio" class="nav-item nav-link">Portfolio</a>
                        <a href="/testimonial" class="nav-item nav-link">Testimonial</a>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                    <div class="d-flex m-3 me-0">
                        <button
                            class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4"
                            data-bs-toggle="modal" data-bs-target="#searchModal"><i
                                class="fas fa-search text-primary"></i></button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="What are you looking for?"
                            aria-describedby="search-icon-1" required>
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-md-12 col-lg-7">
                    <h4 class="mb-3 text-secondary">Hey there, I'm Joshua. I'm a</h4>
                    <h1 class="mb-5 display-3 text-primary">Student Developer studying IT</h1>
                    <div class="position-relative mx-auto">
                        <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="number"
                            placeholder="What are you looking for?" required>
                        <button type="submit"
                            class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100"
                            style="top: 0; right: 25%;">Search</button>
                    </div>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active rounded">
                                <img src="static/Images/portfolio.jpg"
                                    class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide"
                                    id="carouselImg">
                                <a href="/portfolio" class="btn px-4 py-2 text-white rounded">My Portfolio</a>
                            </div>
                            <div class="carousel-item rounded">
                                <img src="static/Images/testimonialNew.png" class="img-fluid w-100 h-100 rounded"
                                    alt="Second slide" id="carouselImg">
                                <a href="/testimonial" class="btn px-4 py-2 text-white rounded">My Testimonial</a>
                            </div>
                            <div class="carousel-item rounded">
                                <img src="static/Images/contactNew.png" class="img-fluid w-100 h-100 rounded"
                                    alt="Third slide" id="carouselImg">
                                <a href="/contact" class="btn px-4 py-2 text-white rounded">Contact me</a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid featurs py-5">
        <div class="container py-5">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3">
                    <div class="featurs-item text-center rounded bg-light p-4">
                        <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                            <i class="fas fa-code fa-3x text-white"></i>
                        </div>
                        <div class="featurs-content text-center">
                            <h5>Hackathons</h5>
                            <p class="mb-0">Gained awards and experience</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="featurs-item text-center rounded bg-light p-4">
                        <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                            <i class="fas fa-trophy fa-3x text-white"></i>
                        </div>
                        <div class="featurs-content text-center">
                            <h5>Professionally Certified</h5>
                            <p class="mb-0">Python, Swift and SQL</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="featurs-item text-center rounded bg-light p-4">
                        <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                            <i class="fas fa-flask fa-3x text-white"></i>
                        </div>
                        <div class="featurs-content text-center">
                            <h5>Apple Beta Software Tester</h5>
                            <p class="mb-0">iOS Software Tester</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="featurs-item text-center rounded bg-light p-4">
                        <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                            <i class="fas fa-link fa-3x text-white"></i>
                        </div>
                        <div class="featurs-content text-center">
                            <h5>Connect with me</h5>
                            <p class="mb-0">LinkedIn, GitHub and StackOverflow</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="container">
            <h1 class="text-center text-blue display-6">My Blog</h1>
            <p></p>
            <div class="bg-light p-5 rounded">
                <div class="row g-4">
                    {% for timestamp, post in data.blog.items() %}
                    <div class="col-md-6">
                        <div class="counter bg-white rounded p-5">
                            <h4>{{ post.title }}</h4>
                            <p>{{ post.description }}</p>
                        </div>
                    </div>
                    {% if loop.index % 2 == 0 %}
                    <div class="w-100"></div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/lightbox/lightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>