<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Joshua's Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}">


    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Axios JsDelivr CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- LDRS Spinner CDN -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/waveform.js"></script>

    <!-- Firebase JavaScript SDK -->
    <script src="https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.6/firebase-database.js"></script>

    <!-- Firebase SDK Setup -->
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-analytics.js";
        import { getDatabase, ref, onValue } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-database.js";

        const firebaseConfig = {
            apiKey: "AIzaSyD-nvNos9LbRfuts0XXdu97bIP1fD2_jJc",
            authDomain: "my-personal-website-c713e.firebaseapp.com",
            databaseURL: "https://my-personal-website-c713e-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "my-personal-website-c713e",
            storageBucket: "my-personal-website-c713e.appspot.com",
            messagingSenderId: "534193315163",
            appId: "1:534193315163:web:1dc3f62f9fcc77175dce7e",
            measurementId: "G-6CXSHP695S"
        };

        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        const database = getDatabase(app);

        const blogPostsRef = ref(database, 'Blog Posts');

        onValue(blogPostsRef, (snapshot) => {
            const blogPostsContainer = document.getElementById('blog-posts');
            blogPostsContainer.innerHTML = '';

            let hasValidPosts = false;

            snapshot.forEach((childSnapshot) => {
                const post = childSnapshot.val();
                const postId = childSnapshot.key;

                if (postId === "placeholder") {
                    return;
                }

                hasValidPosts = true;

                const postElement = document.createElement('div');
                postElement.classList.add('col-md-6', 'blog-post');
                postElement.innerHTML = `
                    <div class="counter bg-white rounded p-5">
                        <h4>${post.Title}</h4>
                        <p id="postDescriptionContent">${post.Description}</p>
                    </div>
                `;
                blogPostsContainer.appendChild(postElement);

                postElement.offsetHeight;

                postElement.style.opacity = 1;
            });

            if (!hasValidPosts) {
                const messageElement = document.createElement('div');
                messageElement.id = 'noBlogPostsYet';
                messageElement.classList.add('col-md-12', 'no-posts-message');
                messageElement.innerHTML = `
                <div class="counter bg-white rounded p-5">
                    <h4>No blog posts yet...</h4>
                    <p>There are no blog posts at the moment. Please check back later.</p>
                </div>
            `;
                blogPostsContainer.appendChild(messageElement);

                messageElement.offsetHeight;

                messageElement.style.opacity = 1;
            }
        });
    </script>
    <style>
        .blog-post,
        .no-posts-message {
            opacity: 0;
            transition: opacity 0.5s ease-in;
        }
    </style>
</head>

<body>
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <l-waveform size="35" stroke="3.5" speed="1" color="navy"></l-waveform>
    </div>
    <div class="container-fluid fixed-top">
        <div class="container topbar bg-primary d-none d-lg-block">
            <div class="d-flex justify-content-between">
                <div class="top-info ps-2">
                    <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a
                            href="mailto:joshua-long-me@protonmail.com"
                            class="text-white">joshua-long-me@protonmail.com</a></small>
                </div>
                <div class="top-link pe-2">
                    <a href="/" class="text-white"><small class="text-white mx-2">Home</small>|</a>
                    <a href="/portfolio" class="text-white"><small class="text-white mx-2">Portfolio</small>|</a>
                    <a href="/testimonial" class="text-white"><small class="text-white ms-2">Testimonial</small> |</a>
                    <a href="/projects" class="text-white"><small class="text-white ms-2">Projects</small> |</a>
                    <a href="/contact" class="text-white"><small class="text-white ms-2">Contact Me</small></a>
                </div>
            </div>
        </div>
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <a href="/" class="navbar-brand">
                    <h1 class="text-primary display-6">Joshua's Website</h1>
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="/portfolio" class="nav-item nav-link">Portfolio</a>
                        <a href="/testimonial" class="nav-item nav-link">Testimonial</a>
                        <a href="/projects" class="nav-item nav-link">Projects</a>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-md-12 col-lg-7">
                    <h4 class="mb-3 text-secondary">Hey there, I'm Joshua. I'm a</h4>
                    <h1 class="mb-5 display-3 text-primary">Student Developer studying IT</h1>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active rounded">
                                <img src="static/Images/portfolio.jpg"
                                    class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide"
                                    id="carouselImg">
                                <a href="/portfolio" class="btn px-4 py-2 text-white rounded">My Portfolio</a>
                            </div>
                            <div class="carousel-item rounded">
                                <img src="static/Images/testimonialNew.png" class="img-fluid w-100 h-100 rounded"
                                    alt="Second slide" id="carouselImg">
                                <a href="/testimonial" class="btn px-4 py-2 text-white rounded">My Testimonial</a>
                            </div>
                            <div class="carousel-item rounded">
                                <img src="static/Images/contactNew.png" class="img-fluid w-100 h-100 rounded"
                                    alt="Third slide" id="carouselImg">
                                <a href="/contact" class="btn px-4 py-2 text-white rounded">Contact me</a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid featurs py-5">
        <div class="container py-5">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3">
                    <div class="featurs-item text-center rounded bg-light p-4">
                        <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                            <i class="fas fa-code fa-3x text-white"></i>
                        </div>
                        <div class="featurs-content text-center">
                            <h5>Hackathons</h5>
                            <p class="mb-0">Gained awards and experience</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="featurs-item text-center rounded bg-light p-4">
                        <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                            <i class="fas fa-trophy fa-3x text-white"></i>
                        </div>
                        <div class="featurs-content text-center">
                            <h5>Professionally Certified</h5>
                            <p class="mb-0">Python, Swift and SQL</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="featurs-item text-center rounded bg-light p-4">
                        <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                            <i class="fas fa-flask fa-3x text-white"></i>
                        </div>
                        <div class="featurs-content text-center">
                            <h5>Apple Beta Software Tester</h5>
                            <p class="mb-0">iOS Software Tester</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="featurs-item text-center rounded bg-light p-4">
                        <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                            <i class="fas fa-link fa-3x text-white"></i>
                        </div>
                        <div class="featurs-content text-center">
                            <h5>Connect with me</h5>
                            <p class="mb-0">LinkedIn, GitHub and StackOverflow</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="container">
            <h1 class="text-center text-blue display-6">My Blog</h1>
            <p></p>
            <div class="bg-light p-5 rounded">
                <div id="blog-posts" class="row g-4">
                    {% if "placeholder" in data["Blog Posts"] %}
                    <div id="noBlogPostsYet" class="col-md-12">
                        <div class="counter bg-white rounded p-5">
                            <h4>No blog posts yet...</h4>
                            <p>There are no blog posts at the moment. Please check back later.</p>
                        </div>
                    </div>
                    {% endif %}
                    {% if "placeholder" not in data["Blog Posts"] %}
                    {% for timestamp, post in data["Blog Posts"].items() %}
                    <div class="col-md-6">
                        <div class="counter bg-white rounded p-5">
                            <h4>{{ post.Title }}</h4>
                            <p id="postDescriptionContent">{{ post.Description }}</p>
                        </div>
                    </div>
                    {% if loop.index % 2 == 0 %}
                    <div class="w-100"></div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <img src="static/Images/ai.png" id="chatIcon" type="button" data-bs-toggle="modal" data-bs-target="#gptModal">

    <div class="modal fade" id="gptModal" tabindex="-1" aria-labelledby="gptModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="gptModalLabel">Have any questions? Ask ChatNinja!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="genAIDiv">
                        <input type="text" name="prompt" id="prompt" placeholder="How may I help you?" size="50">
                        <div class="submitPromptButtonDiv">
                            <button type="button" id="submitPromptButton" onclick="submitPrompt()"><i class="fas fa-arrow-up text-navy me-4" id="submitArrow"></i>                            </button>
                        </div>
                        <div id="response"></div>
                        <p id="responseNote">Please note that ChatNinja allows for a max output length of 1000 characters.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/lightbox/lightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>