<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Joshua's Testimonials</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}">


    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="spinner"
        class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <div class="container-fluid fixed-top">
        <div class="container topbar bg-primary d-none d-lg-block">
            <div class="d-flex justify-content-between">
                <div class="top-info ps-2">
                    <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a
                            href="mailto:joshualongyx@joshua-long-yx.tech"
                            class="text-white">joshualongyx@joshua-long-yx.tech</a></small>
                </div>
                <div class="top-link pe-2">
                    <a href="/" class="text-white"><small class="text-white mx-2">Home</small>/</a>
                    <a href="/portfolio" class="text-white"><small class="text-white mx-2">Portfolio</small>/</a>
                    <a href="/testimonial" class="text-white"><small class="text-white ms-2">Testimonial</small> /</a>
                    <a href="/contact" class="text-white"><small class="text-white ms-2">Contact Me</small></a>
                </div>
            </div>
        </div>
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <a href="/" class="navbar-brand">
                    <h1 class="text-primary display-6">Joshua's Website</h1>
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="/portfolio" class="nav-item nav-link">Portfolio</a>
                        <a href="/testimonial" class="nav-item nav-link active">Testimonial</a>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                    <div class="d-flex m-3 me-0">
                        <button
                            class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4"
                            data-bs-toggle="modal" data-bs-target="#searchModal"><i
                                class="fas fa-search text-primary"></i></button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="What are you looking for?"
                            aria-describedby="search-icon-1" required>
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-blue display-6">Testimonial</h1>
    </div>
    <div class="container-fluid py-5">
        <div class="container">
            <p></p>
            <div class="bg-light p-5 rounded">
                <div class="row g-4">
                    <div class="col-md-12">
                        <div class="counter bg-white rounded p-5">
                            <p id="testimonialParagraph">
                                Joshua Long Yu Xuan was a student of Xinmin Secondary School from 2019 - 2022, where he
                                pursued and completed a course leading to the GCE O-Level Examination in 2022.
                            </p>
                            <p id="testimonialParagraph">
                                Joshua is a dependable young man with a strong sense of responsibility. He made plans to
                                ensure that the deadlines for school projects, such as decorating the classroom for
                                Chinese New Year, and the production of video for class graduation, were met. As the
                                Class Vice-Chairman for his graduating class in 2022, he demonstrated effective time
                                management when juggling his academics, CCA and his duties in the Class Committee.
                            </p>
                            <p id="testimonialParagraph">
                                As a friend, he is a good listener and generous in providing his time and company during
                                his friends' times of need. Joshua planned his revision for National Examinations early,
                                and he encouraged his friends to do the same, often checking on their progress and
                                rendering assistance if they encountered any difficulty in their revision.
                            </p>
                            <p id="testimonialParagraph">
                                Joshua was an active member of his Co-Curricular Activity (CCA) - Media Club / Digital
                                Media from 2019 - 2022. His skills with the stage equipment were heavily depended upon
                                during various school performances and events, such as the Chinese New Year Celebration,
                                Student Council Investiture Livestream and Mother Tongue Festival Livestream in 2022.
                                Joshua took care to ensure the media equipement was set up and functioning prior, and
                                during, each event. Should technical hiccups occured during the events, he was quick to
                                rectify and provide solutions. After he had stepped down from his CCA in March 2022, he
                                did not hesitate to offer his assistance to his juniors when they had to provide media
                                support at National School Games Volleyball Championships. His juniors spoke highly of
                                his dedication to his CCA and appreciated his guidance to them as they trained to take
                                over his role.
                            </p>
                            <p id="testimonialParagraph">
                                Over the years, Joshua had also found time to participate in various school-initiated
                                community projects, such as volunteering at Thye Hua Kwan Nursing Home in Hougang,
                                planning activities and befriending the elderly in our neighbourhood via XinminCares,
                                distribution of pamphlets to raise awareness of the importance of recycling during
                                Spring-it-up. Through all these projects, Joshua was observed to be patient and
                                respectful in his interaction with the elderly. He was also a cooperative worker who
                                followed his team leader's directions during Spring-it-Up.
                            </p>
                            <p id="testimonialParagraph">
                                The abovementioned positive qualities will stand Joshua in good stead for the future. We
                                believe Joshua will certainly be a valuable and contributing member to any organisation
                                that he chooses to join.
                            </p>
                            <p id="testimonialParagraph" class="endingName">
                                Mrs Annie Ng (Form Teacher)<br>~2022
                            </p>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testimonialModal"
                                id="viewTestimonialButton">View Official Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="testimonialModal" tabindex="-1" aria-labelledby="testimonialModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Joshua's Testimonial from Xinmin Secondary</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="testimonialImages">
                    <img src="static/Images/Testimonial Page 1.png">
                    <img src="static/Images/Testimonial Page 2.png">
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/lightbox/lightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>